
<h1>Top photos</h1>

  <%= render :partial => 'photos', :locals => {:photos => @top_photos} %>

<br />


<h1>All photos</h1>

  <%= render :partial => 'photos', :locals => {:photos => @photos} %>

<br />

<%= link_to 'New photo', new_photo_path %>